################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChangeLog
/Mods/ContinentOfJourneyRebalance/Rebalance/Weapon Changes.txt
/Mods/ContinentOfJourneyRebalance/Detections/HeartofEarth.txt
/Mods/ContinentOfJourneyRebalance/BuffChanges.txt
